<% @project = Project.find(params[:id]) %>

<p><b>Project Name:</b> <%= @project.name %></p>
<p><b>Material:</b> <%= @project.material %></p>
<p><b>Theme:</b> <%= @project.challenge.theme %></p>
<p><b>Number of Contestants:</b> <%= @project.contestant_count %></p>
<p><b>Average Contestant Experience:</b> <%= @project.average_experience %> years</p>